.userCard {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-evenly;
  border: 1px solid #d4d4d4;
  text-align: center;
  
}
#userHeader {
  max-width: 1000px;
  margin: 0 auto;
}

#userComponent {
  margin-top: 20px;
}
img.n-u-p.rounded-circle{
  border: solid 2px #D4D4D4;
  background:#D4D4D4 ;
  padding:0px;
}
